.email-preview {
  background-color: #eee;
  width: 100%;
  
  .row-email-attachment {
      padding: 0 !important;
  }

  .spinner-wrapper {
    padding: 32px;

    .spinner-google-container {
      height: 32px;
      width: 32px;
    }
  }

  .content {
      color: #333333;
      flex-direction: column;

      &.content-loading {
        align-items: center;
      }

      .row {
          display: flex;
          flex-direction: row;
          padding: 0 8px;
          border-bottom: 1px solid rgba(112, 112, 112, 0.28);
      }

      .column-field {
          padding: 16px;
          display: flex;
          flex-direction: row;
          flex: 1 1 auto;
      }

      .column-multi-line {
          white-space: pre-wrap;
      }

      .field-label {
          color: #9a9a9a;
          padding-right: 8px;
      }

      .email-preview-attachment {
          -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
          -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
          box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
          padding: 12px;

          .mdi {
            font-size:1.5rem;
            vertical-align: middle;
          }
      }
  }
}
