[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

<div id="loginwrap" class="alt-auth alt-auth-smscode">
    <div class="block">
        <div class="block-header">
            <h1>Wachtwoord opnieuw instellen</h1>
        </div>
        <div class="block-content clearfix">
            <div class="alt-auth-small-form">

                <p class="alt-auth-intro">
                    <i class="mdi mdi-check"></i> Uw wachtwoord is aangepast.<br><br>
                    <a href="[% c.uri_for('/auth/twofactor') | html_entity %]" class="button button-primary">Terug naar loginscherm</a>
                </p>

            </div>
        </div>
    </div>
</div> 

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
