[% case_type_id = zaak ? zaak.get_column('zaaktype_id') : zaaktype_node.get_column('zaaktype_id') %]

[% appointment_interface = c.model('DB::Interface').search_active({module => 'appointment'}) %]

[% IF appointment_interface %]
    [% appointment_product_id  = kenmerk.bibliotheek_kenmerken_id.properties.product_id %]
    [% appointment_location_id = kenmerk.bibliotheek_kenmerken_id.properties.location_id %]
[% END %]

[%
  # If veldoptie_value is set, this is done via a subcase creation
  # So we disable the appointment_can_edit bit
  IF !veldoptie_value.0 && veldoptie_value;
    appointment_can_edit = 0;
  END;
%]

<span
  class="ezra_qmatic_appointment_edit veldoptie-qmatic"
  data-ng-controller="nl.mintlab.case.AppointmentController"
  data-ng-init="appointment='[% veldoptie_value.0 || veldoptie_value %]';product_id='[% appointment_product_id %]';location_id='[% appointment_location_id %]';input_field_name='[% veldoptie_name %]';interface_uuid='[% appointment_interface.uuid %]';retrieveAppointment()"

  data-zs-popup="'/html/case/appointment.html'"
>

    [% IF appointment_can_edit == 1 %]
    <button class="button button-secondary button-small" [% UNLESS appointment_interface %]disabled="disabled" data-zs-title="Er is iets misgegaan. Neem contact op met de gemeente." data-ng-click="void(0)"[% ELSE %]data-ng-click="openPopup()"[% END %] type="button"> Afspraak [% veldoptie_value ? 'bewerken':'plannen' %]</button>
    [% END %]

    <div data-ng-show="confirmedSlot">
        Je hebt een afspraak gepland op <strong><[confirmedSlot.start_time | date:'longDate']></strong>
        om <strong><[confirmedSlot.start_time | date:'shortTime']></strong>
    </div>
    
    <script type="text/ng-template" id="/html/case/appointment.html">
        <div class="qmatic-modal" data-zs-modal data-ng-init="title='Afspraak bewerken'">

            <div class="qmatic-modal-intro" data-ng-show="confirmedSlot">
                Je hebt een afspraak gepland op <strong><[confirmedSlot.start_time | date:'longDate']></strong>
                om <strong><[confirmedSlot.start_time | date:'shortTime']></strong>. 
            </div>
        
            <ul class="qmatic-modal-list qmatic-modal-list-day" data-ng-show="!confirmedSlot">
                <li class="qmatic-modal-list-item" data-ng-repeat="date in dates">
                    <label class="qmatic-modal-list-item-label">
                        <input class="qmatic-modal-list-item-input" name="calendar_date" type="radio" data-ng-checked="date==appointmentDate" data-ng-click="setAppointmentDate(date)"/>
                            <[date | date:'fullDate' ]>
                    </label>
                </li>
            </ul>
        
            <ul class="qmatic-modal-list qmatic-modal-list-time" data-ng-show="times&&!confirmedSlot">
                <li class="qmatic-modal-list-item" data-ng-repeat="slot in times">
                    <label class="qmatic-modal-list-item-label">
                        <input class="qmatic-modal-list-item-input" name="calendar_time" type="radio" data-ng-checked="slot.start_time==appointmentSlot.start_time&&slot.end_time==appointmentSlot.end_tme" data-ng-click="setAppointmentTime(slot)"/>
                        <[getTimeLabel(slot)]>
                    </label>
                </li>
            </ul>
            
            <div class="qmatic-actions">
                <button type="button" class="button button-primary" data-ng-click="book()" data-ng-disabled="!appointmentSlot">
                    Plan afspraak
                </button>
                <button data-ng-disabled="!confirmedSlot" type="button" class="button button-secondary" data-ng-click="deleteAppointment()">
                    Verwijder afspraak
                </button>
            </div>

        </div>
    </script>

    [% IF appointment_can_edit == 1 %]
    <input style="width: 450px;"

        type="hidden"
        [% my_veldoptie_id %]
        name="[% veldoptie_name %]"
        value="<[appointment]>"
        data-ng-model="appointment"
        class="veldoptie_[% veldoptie_type %]"
        data-zs-update-field
        data-zs-pip="[% pip %]"
        data-zs-case-id="[% zaak.id %]"
        />
    [% END %]
</span>
