zs-dashboard-widget-tasks-iframe {
  position: absolute;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.widget-tasks-iframe-wrapper,
.widget-tasks-iframe,
.tasks-iframe {
  border: 0;
  height: 100%;
  width: 100%;
}
