[%-
  USE date;

  BLOCK list_for_user;

  WHILE (item = login_attempts.next);
    PROCESS single_login_item;
  END;

END -%]

[% BLOCK single_login_item %]
[%
  date_attempt = date.format(item.date_attempt.set_time_zone('Europe/Amsterdam'), locale='nl_NL');

  success = 'Nee';
  IF item.success;
    success = 'Ja';
  END;

%]
  <tr>
    <td>[% item.method | html_entity %]</th>
    <td>[% date_attempt | html_entity %]</th>
    <td>[% success | html_entity %]</th>
  </tr>
[% END %]

<div>
  <table>
    <tr>
      <th>Methode</th>
      <th>Datum</th>
      <th>Succesvol</th>
    </tr>
    [% PROCESS list_for_user %]
  </table>
</div>

<form method="POST"
      action="[% c.uri_for('/medewerker/login-history/export/' _ entry.id) %]"
>

  <div class="form-actions">
    <input type="submit" value="Exporteren" class="button button-primary right" id="dialog-submit"/>
  </div>
</form>
