[% USE Dumper %]

<div class="block clearfix import">
    <p class="header">WOZ-gegevens instellingen</p>
    <div class="blockcontent">
        <a href="/beheer/woz">&lt;&lt; terug</a><br/><br/>
        <p>Hieronder vind u een overzicht van alle [% woz_objects.count() %] WOZ-objecten en hun eigenaren<br/>
        </p>
        <ul>
        [% WHILE (woz_object = woz_objects.next()) %]
            <li>
                <a href="/beheer/woz/view/[% woz_object.owner %]">[% woz_object.owner %]</a>
                [% #woz_object.count_per_owner  # for some freaky reason this doesnt work %]
                ([% woz_object.get_columns.3 %])
            </li>
        [% END %]
        </ul>
    </div>
</div>

