<html>
	
	<head>
		<!-- inject:css -->
		<!-- endinject -->
		<!-- inject:js -->
		<!-- endinject -->
	</head>
	
	<body data-ng-app="MintJS">
		
		<form data-ml-form data-ml-form-template>
		</form>
		
	</body>
	
</html>	